---
import Navbar from "../components/Navbar.astro";
import { SEO } from "astro-seo";
import Footer from "~/components/Footer.astro";


// Fallback for site and pathname to prevent "Invalid URL" error
const site =  "https://primotechllc.com";
const pathname = Astro.url?.pathname ?? "/";
const canonicalURL = new URL(pathname, site);

export interface props {
  structuredData?: object;
}
const { title, description, structuredData, keywords } = Astro.props;
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="index, follow" />
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png/jpg" href="/favicon.jpg" />
    {
      structuredData && (
        <script
          is:inline
          type="application/ld+json"
          set:html={JSON.stringify(structuredData)}
        />
      )
    }
    <SEO
     title={title ?? "Primotech Uniarch distributor in Dubai, U.A.E"}
     description={description ?? "Primotech is an authorized distributor of Uniarch products in Dubai, U.A.E."}
     canonical={canonicalURL}
      openGraph={{
        basic: {
          title: title ?? "Ezviz Dubai Authorized distributor in Dubai,U.A.E",
          type: "article",
          image: "",
        },
        optional: {
      description:
        description ?? "Primotech is an authorized distributor of Uniarch products in Dubai, U.A.E.",
      siteName: "Primotech Uniarch Dubai",
      locale: "en_US",
    },
      }}
      twitter={{
    card: "summary_large_image",
    creator: "@primotechdubai", // update if needed
    site: "@primotechdubai",
    title: title ?? "Primotech Uniarch distributor in Dubai, U.A.E",
    image: "https://primotechllc/images/logo.png", // replace with correct URL
    imageAlt: "Primotech Uniarch Dubai",
    description:
      description ?? "Primotech is an authorized distributor of Uniarch products in Dubai, U.A.E.",
  }}
  extend={{
    meta: [
      {
        name: "keywords",
        content:
          "Primotech Uniarch distributor, Uniarch Dubai, UAE, surveillance, security" +
          (keywords ? ", " + keywords : ""),
      },
      { name: "robots", content: "index, follow" },
      { name: "language", content: "English" },
      { name: "author", content: "Primotech Dubai" },
      { name: "theme-color", content: "#00B4D8" },
      { name: "apple-mobile-web-app-capable", content: "yes" },
      { name: "apple-mobile-web-app-status-bar-style", content: "default" },
      { name: "format-detection", content: "telephone=no" },
    ],
  }}
/>
  </head>

  <body class="bg-white">
    <Navbar />
      <main>
        <slot />
      </main>
    <Footer />
  </body>
</html>